
<form action="" class="form-group col">

    <h1 class="center-text">Contactanos ahora!</h1>

    <div class="form-group">
        <label for="nombre">Nombre: </label>
        <input required type="text" name="name" id="name" class="form-control" placeholder="John Maxwell">
    </div>

    <div class="form-group">
        <label for="email">Email: </label>
        <input required type="email" name="email" id="email" class="form-control" placeholder="user@domain.com">
    </div>

    <div class="form-group">
        <label for="subject">Asunto: </label>
        <input type="text" name="subject" id="subject" class="form-control" placeholder="Nuevo trailer de...">
    </div>

    <div class="form-group">
        <label for="comment">Comentario: </label>
        <input type="textarea" name="comment" id="comment" class="form-control" placeholder="Tu comentario...">
    </div>

    <button type="button" class="btn btn-success btn-lg">Enviar</button>
</form>


<div id="mapa" class="col">
</div>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACrZ6viQBquj_efqMONjJFlZmKRY8_22o&callback=initMap"></script>

