<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
    
        <div class="carousel-item active" style="background-image: url('imgs/home/home.jpeg')">
            <div class="carousel-caption d-none d-md-block">
            <h2 class="display-4">SerieStream</h2>
            <p class="lead">El website oficial para ver los trailers de todas tus peliculas y series favoritas.</p>
            </div>
        </div>
        
        
        <div class="carousel-item" style="background-image: url('imgs/home/home1.jpg')">
            <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">SerieStream</h2>
                    <p class="lead">Desarrollado de manera exclusiva para ti; disfruta la experiencia.</p>
            </div>
        </div>

    
        <div class="carousel-item" style="background-image: url('imgs/home/home2.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h2 class="display-4">SerieStream</h2>
                <p class="lead">Tus preferencias son nuestra prioridad, tu atencion es primordial y SerieStream tu lugar para disfrutar trailers oficiales en 4k.</p>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>