<div class="row center">
    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/lafavorita.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">La favorita</h5>
            <p class="card-text">La historia se centra en dos mujeres que compiten por 
                ser la consejera de la Reina Ana de Gran Bretaña, Duquesa de Marlborough.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Yorgos Lanthimos</li>
            <li class="list-group-item" id="estreno">Estreno: 18 de enero</li>
            <li class="list-group-item" id="genero">Genero: Drama/Comedia</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/6ciX0L-1clg" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/glass.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Glass</h5>
            <p class="card-text">David Dunn busca mantenerse un paso por delante de la 
                ley mientras imparte justicia en las calles de Filadelfia.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: M. Night Shyamalan</li>
            <li class="list-group-item" id="estreno">Estreno: 18 de enero</li>
            <li class="list-group-item" id="genero">Genero: Ciencia ficción</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/c-BKLEGFQKk" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/lacasadejack.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">La casa de Jack</h5>
            <p class="card-text">Lo nuevo de Lars Von Trier no dejará indiferente a nadie. 
                El retrato de un asesino en serie, interpretado por Matt Dillon, es a su vez 
                un duro autorretrato en el que Von Trier desnuda su alma.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Lars von Trier</li>
            <li class="list-group-item" id="estreno">Estreno: 14 de mayo</li>
            <li class="list-group-item" id="genero">Genero: Drama/Misterio</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/0K9VAP-1Jhs" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/blues.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">El blues de Beale Street</h5>
            <p class="card-text">Barry Jenkins (Moonlight) dirige este drama que protagonizan Kiki Layne y 
                el co-protagonista de Homecoming, Stephan James.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Barry Jenkins</li>
            <li class="list-group-item" id="estreno">Estreno: 25 de enero</li>
            <li class="list-group-item" id="genero">Genero: Drama</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/wVQQ0EWEAjU" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>
</div>








<div class="row center">
    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/greenbok.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Green Book</h5>
            <p class="card-text">La película protagonizada por Viggo Mortensen y Mahershala Ali no ha estado exenta de polémica desde que se 
                estrenó en EEUU, lo que no le impide ser una de las favoritas al Oscar, y es una de las grandes esperadas para este 2019.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Peter Farrelly</li>
            <li class="list-group-item" id="estreno">Estreno: 1 de febrero</li>
            <li class="list-group-item" id="genero">Genero: Drama/Comedia</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/PNIQm6EBPuI" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/maria.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">María Reina de Escocia</h5>
            <p class="card-text">Margot Robbie, que interpretará a la reina Isabel I. Junto a ella, Saoirse Ronan interpreta a María 
                Estuardo en una de las películas que más van a dar que hablar en la temporada de premios.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Josie Rourke</li>
            <li class="list-group-item" id="estreno">Estreno: 15 de noviembre</li>
            <li class="list-group-item" id="genero">Genero: Drama/Ficcion</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/cljQ7YBSaAw" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/alita.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Alita: Ángel de combate</h5>
            <p class="card-text">La historia de una cyborg abandonada que acaba rescatada por un médico pero sin ningún tipo de recuerdo de quién era.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Robert Rodríguez</li>
            <li class="list-group-item" id="estreno">Estreno: 15 de febrero</li>
            <li class="list-group-item" id="genero">Genero: Ciencia ficcion</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/fjq0YVIvCo4" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/capitana.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Capitana Marvel</h5>
            <p class="card-text">
                    Mucho hemos hablado del girl power que desprende Brie Larson en el papel de Capitana Marvel. 
                    Este esperado estreno para los fans llega antes de que finalice la saga del Universo Marvel.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Directores: Anna B./Ryan F.</li>
            <li class="list-group-item" id="estreno">Estreno: 27 de febrero</li>
            <li class="list-group-item" id="genero">Genero: Ciencia ficcion</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/fck1Gepxh2c" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>
</div>









<div class="row center">
    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/triplejpg.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Triple frontera</h5>
            <p class="card-text">J.C. Chandor (El año más violento) dirige este thriller dramático que es una de las 
                apuestas más fuertes de Netflix para 2019. </p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: J. C. Chandor</li>
            <li class="list-group-item" id="estreno">Estreno: 13 de marzo</li>
            <li class="list-group-item" id="genero">Genero: Drama/Suspenso</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/vVq8xb1LgiI" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/nosotros.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Nosotros</h5>
            <p class="card-text">La nueva película del autor de Déjame salir (ganador del Oscar a mejor guión original), 
                vuelve para ponernos la piel de gallina.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Jordan Peele</li>
            <li class="list-group-item" id="estreno">Estreno: 8 de marzo</li>
            <li class="list-group-item" id="genero">Genero: Misterio/Suspenso</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/nzCyY_fTowA" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/dg.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Dolor y gloria</h5>
            <p class="card-text">Antonio Banderas, Axier Etxeandia, Penélope Cruz y Julieta Serrano protagonizan 
                la próxima película de Pedro Almodóvar.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Pedro Almodóvar</li>
            <li class="list-group-item" id="estreno">Estreno: 22 de marzo</li>
            <li class="list-group-item" id="genero">Genero: Drama</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwitpYmC5ajiAhUq0FkKHYYcC-8Q3ywwAHoECAgQAw&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DK0mGbwHViYk&usg=AOvVaw0R1hbHawO-NFIiwL6MFRv_" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/bernet.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Dónde estás, Bernadette</h5>
            <p class="card-text">Cate Blanchett interpreta a Bernadette en este film que es la adaptación a la gran pantalla de la novela de María Semple.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Richard Linklater</li>
            <li class="list-group-item" id="estreno">Estreno: 1 de agosto</li>
            <li class="list-group-item" id="genero">Genero: Misterio/Comedia</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/0oPvwWvndWs" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>
</div>









<div class="row center">
    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/aladdin.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Aladdin</h5>
            <p class="card-text">Esta vez Will Smith dará vida al divertido genio de la lámpara y Naomi Scott y 
                Mena Massoud interpretarán a la pareja protagonista.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Guy Ritchie</li>
            <li class="list-group-item" id="estreno">Estreno: 22 de mayo</li>
            <li class="list-group-item" id="genero">Genero: Fantasia</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/uCdWx-ceu0o" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/rocket.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Rocketman</h5>
            <p class="card-text">Esta película narra el ascenso de Elton John desde la Real Academia de la Música de 
                Londres hasta convertirse en una estrella de fama mundial.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Dexter Fletcher</li>
            <li class="list-group-item" id="estreno">Estreno: 22 de mayo<li>
            <li class="list-group-item" id="genero">Genero: comedia</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/JgiaUA4ques" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/xmen.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">X-Men: Fénix Oscura</h5>
            <p class="card-text">Fénix, es uno de los más poderosos creados por Stan Lee y sufre una transformación que hace que 
                le hace debatirse entre el bien y el mal.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Simon Kinberg</li>
            <li class="list-group-item" id="estreno">Estreno: 5 de junio de 2019</li>
            <li class="list-group-item" id="genero">Genero: Accion/Ciencia ficcion</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/W-I2VMfyR-Q" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/blacks.png" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Men in black: International</h5>
            <p class="card-text">La cuarta película de la franquicia llega renovando a los protagonistas. 
                Esta vez no será Will Smith el encargado de cuidar la Tierra, sino Chris Hemsworth y Tessa Thompson.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: F. Gary Gray</li>
            <li class="list-group-item" id="estreno">Estreno: 13 de junio</li>
            <li class="list-group-item" id="genero">Genero: Fantasia/Ciencia ficion</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/JRsKdc7e3Z0" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>
</div>




<div class="row center">
    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/spider.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Spider.-man: Lejos de casa</h5>
            <p class="card-text">Peter pasará un par de semanas fuera y a pesar de querer tomarse unas vacaciones de su faceta de superhéroe, la tocará ser spidy de nuevo.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Jon Watts</li>
            <li class="list-group-item" id="estreno">Estreno: 5 de julio</li>
            <li class="list-group-item" id="genero">Genero: Ciencia ficcion/Fantasia</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/EYaxpMCash8" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/leo.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">El Rey León</h5>
            <p class="card-text">La pelicula que demuestra que todos seguimos siendo niños. Esta es la tercera live-motion que llegará de manos de Disney en 2019.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Jon Favreau</li>
            <li class="list-group-item" id="estreno">Estreno: 17 de julio</li>
            <li class="list-group-item" id="genero">Genero: Drama/Comedia</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/7rxwEfFMbaY" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/toys.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Toy Story 4</h5>
            <p class="card-text">Esta vez, los juguetes tienen un nuevo hogar y según Tom Hanks, Woody en las películas, esta entrega tendrá un final histórico.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Josh Cooley</li>
            <li class="list-group-item" id="estreno">Estreno: 19 de junio</li>
            <li class="list-group-item" id="genero">Genero: Comedia/Aventura</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=2ahUKEwjfhuGI-KjiAhWLq1kKHVVJCdQQwqsBMAF6BAgJEAc&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D7PzOhp8A-50&usg=AOvVaw2LMqO-CH7kcaJpgt00tGrm" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/holly.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Once Upon a Time in Hollywood</h5>
            <p class="card-text">Narra la vida de un actor de westerns que trata de abrirse camino en Hollywood y que resultará ser vecino de Sharon Tate, la actriz asesinada en 1969.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Quentin Tarantino</li>
            <li class="list-group-item" id="estreno">Estreno: 9 de agosto</li>
            <li class="list-group-item" id="genero">Genero: Drama/Suspenso</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=2ahUKEwiRrdHk-ajiAhULvVkKHUy7DnMQwqsBMAJ6BAgKEAQ&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DScf8nIJCvs4&usg=AOvVaw3wK3f_RfSlK4ytuwjcOvDH" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>
</div>




<div class="row center">
    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/blanca.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">El silencio de la ciudad blanca</h5>
            <p class="card-text">La adaptación de la novela homónima de Eva García Sáenz de Urturi es uno de los estrenos españoles más esperados de 2019.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Eva García Sáenz de Urturi</li>
            <li class="list-group-item" id="estreno">Estreno: 30 de agosto</li>
            <li class="list-group-item" id="genero">Genero: Novela</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=2ahUKEwi74KyF-6jiAhXBo1kKHXgCC-8QwqsBMAN6BAgJEAQ&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DsdG7EUFxcUk&usg=AOvVaw1wBzHy-XtJp_AJ5yPeYQoK" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/down.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Downton Abbey</h5>
            <p class="card-text">Un drama histórico que sigue las vidas de la familia Crawley y sus domésticos en su propiedad de Downton Abbey.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Brian Percival</li>
            <li class="list-group-item" id="estreno">Estreno: 20 de septiembre</li>
            <li class="list-group-item" id="genero">Genero: Drama</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=2ahUKEwianbHj-6jiAhVKjlkKHbHyDAEQwqsBMAF6BAgIEAQ&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DZG3dxv-ps1k&usg=AOvVaw2B4CpjpZdlFsrjyibvDlX3" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/hierro.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Quien a hierro mata</h5>
            <p class="card-text">Paco Plaza (Verónica) se encarga de dirigir este thriller de venganza, narcotráfico y familia protagonizado por Luis Tosar, Ismael Martínez, María Vázquez y Xan Cejudo, entre otros.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Paco Plaza</li>
            <li class="list-group-item" id="estreno">Estreno: 27 de septiembre</li>
            <li class="list-group-item" id="genero">Genero: Accion</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=2ahUKEwifp9m3_ajiAhWHslkKHRomDnMQwqsBMAJ6BAgIEAo&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dl5oyBjEKBRQ&usg=AOvVaw0BgQZvWSj4JKplMQTtzXbM" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/joker.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Joker</h5>
            <p class="card-text">Joker es una próxima película criminal estadounidense distribuida por Warner Bros. Pictures y basada en el personaje de DC Comics, Joker.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Todd Phillips</li>
            <li class="list-group-item" id="estreno">Estreno: 3 de octubre</li>
            <li class="list-group-item" id="genero">Genero: Cine policiaco</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=2ahUKEwj57dWn_qjiAhVQnFkKHYowBQ8QwqsBMAJ6BAgJEAo&url=https%3A%2F%2Fwww.lavanguardia.com%2Fcine%2F20190403%2F461445298996%2Fjoker-trailer-cine-pelicula-pantalla-oscar-video-seo-ext.html&usg=AOvVaw1HFfp-ap_CxtMLKHb0_-7p" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>
</div>



<div class="row center">
    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/land.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Zombiland 2</h5>
            <p class="card-text">La cuadrilla matazombies más extraña del cine regresa diez años después. Esta esperada secuela ya ha comenzado su rodaje y se estrenará a finales del año.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Ruben Fleischer</li>
            <li class="list-group-item" id="estreno">Estreno: 11 de octubre</li>
            <li class="list-group-item" id="genero">Genero: Accion/Comedia</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwitsa62gKniAhUDpFkKHZh8B3gQ3ywwAHoECAwQAw&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DgN8zXMY4GVs&usg=AOvVaw3d6a1yn-k8Wq66RFFIEcUH" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/window.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">La mujer en la ventana</h5>
            <p class="card-text">Este thriller psicológico ha sido dirigido por el mismo autor de la novela y tratará de confundirnos con lo que es real y lo que es fruto de nuestra imaginación.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Joe Wright</li>
            <li class="list-group-item" id="estreno">Estreno: 4 de octubre</li>
            <li class="list-group-item" id="genero">Genero: Drama/Suspenso</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjYzLzQgqniAhUSvFkKHWE1AhYQwqsBMAB6BAgJEAQ&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dvdncd23wnAY&usg=AOvVaw3GUvnRIZkTNOto04uKVyQe" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/terminator.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Terminator 6</h5>
            <p class="card-text">Esta nueva historia será la secuela directa de Terminator 2: El juicio final (1991) y es claramente la película más femenina de la saga.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Tom Miller</li>
            <li class="list-group-item" id="estreno">Estreno: 15 de noviembre</li>
            <li class="list-group-item" id="genero">Genero: Accion/Ficcion</li>
        </ul>

        <div class="card-footer text-center">
            <a href=" https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwiDpdCcg6niAhWQjlkKHTI9D2sQ3ywwAHoECAkQAw&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DSdnMTM5_6Cg&usg=AOvVaw1kdiwz0coO0OctiOhM3_GA" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/wars.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Star Wars: Episodio IX</h5>
            <p class="card-text">Protagonizada por Daisy Ridley, Adam Driver, John Boyega y Oscar Isaac y será la lucha definitiva entre el lado oscuro de la fuerza y la ya jedi, Rey. </p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: J. J. Abrams</li>
            <li class="list-group-item" id="estreno">Estreno: 20 de diciembre</li>
            <li class="list-group-item" id="genero">Genero: Fantasia/Ficcion</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwju86Hcg6niAhUqwVkKHV3rAo4QwqsBMAB6BAgJEAQ&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D82R2u7OuGOA&usg=AOvVaw3fZKkayhpR2ujGwptGPFYo" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>
</div>



<div class="row center">
    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/triplejpg.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">Triple frontera</h5>
            <p class="card-text">J.C. Chandor (El año más violento) dirige este thriller dramático que es una de las 
                apuestas más fuertes de Netflix para 2019. </p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: J. C. Chandor</li>
            <li class="list-group-item" id="estreno">Estreno: 13 de marzo</li>
            <li class="list-group-item" id="genero">Genero: Drama/Suspenso</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/vVq8xb1LgiI" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/lafavorita.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">La favorita</h5>
            <p class="card-text">La historia se centra en dos mujeres que compiten por 
                ser la consejera de la Reina Ana de Gran Bretaña, Duquesa de Marlborough.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Yorgos Lanthimos</li>
            <li class="list-group-item" id="estreno">Estreno: 18 de enero</li>
            <li class="list-group-item" id="genero">Genero: Drama/Comedia</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/6ciX0L-1clg" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/blues.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">El blues de Beale Street</h5>
            <p class="card-text">Barry Jenkins (Moonlight) dirige este drama que protagonizan Kiki Layne y 
                el co-protagonista de Homecoming, Stephan James.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Barry Jenkins</li>
            <li class="list-group-item" id="estreno">Estreno: 25 de enero</li>
            <li class="list-group-item" id="genero">Genero: Drama</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/wVQQ0EWEAjU" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>

    <div id="card" class="card .col-xs-6 .col-sm-3 ">
        <img src="../imgs/covers/leo.jpg" alt="" class="card-img-top" id="portada">
        <div class="card-body">
            <h5 class="card-title" id="title" name="title">El Rey León</h5>
            <p class="card-text">La pelicula que demuestra que todos seguimos siendo niños. Esta es la tercera live-motion que llegará de manos de Disney en 2019.</p>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="director">Director: Jon Favreau</li>
            <li class="list-group-item" id="estreno">Estreno: 17 de julio</li>
            <li class="list-group-item" id="genero">Genero: Drama/Comedia</li>
        </ul>

        <div class="card-footer text-center">
            <a href="https://youtu.be/7rxwEfFMbaY" class="btn btn-dark" role="button" id="link">Ver trailer</a>
        </div>
    </div>
</div>


